<div class="wrapper">
	<div class="social-links">
		<ul>
			<li><a href="https://www.facebook.com/entrenadormarting/"><img src="{{site.url}}/wp-content/uploads/2017/08/icon-fb.png"/></a></li>
			<li><a href="https://twitter.com/MartinG_EP/"><img src="{{site.url}}/wp-content/uploads/2017/08/icon-tw.png"/></a></li>
			<li><a href="https://www.instagram.com/martin.giacchetta/"><img src="{{site.url}}/wp-content/uploads/2017/08/icon-ig.png"/></a></li>
			<li><a href="https://www.youtube.com/user/martinaaa/videos"><img src="{{site.url}}/wp-content/uploads/2017/08/icon-yt.png"/></a></li>
		</ul>
	</div>

	<div class="footer-nav">
		<span>Copyright {{"now"|date('Y')}}  Martín Giacchetta  Todos los derechos reservados</span> <a href="/">Aviso Legal</a>
	</div>

	
</div>
