{% extends "base.twig" %}

{% block class %} home{% endblock %}

{% block content %}

	<!-- SECTION HOME 1 - HEADER {{ user.user_login }}-->

	<div class="section-header">
		<div class="wrapper">
			<div class="content-section-header">
				<h1>Martín Giacchetta </h1>
				<p>Entrenador del año según FIBO y fundador del método G</p>
			</div>
		</div>
	</div>

	<!-- FIN SECTION HOME 1 - HEADER -->

	<!-- SECTION HOME 2 - ABOUT -->

	<div class="section-about" id="sobremartin">
		<div class="wrapper">
			<div class="content-section-about">
				<h2>Sobre Martín</h2>
				<span>Creador del Método G y conocido como el entrenador de las celebrities</span>

				<div class="full-content-about">
					<p>Martín Giaccheta es un amante del deporte y un apasionado por la vida.</p>
					<p>
						Licenciado en Ciencias de la Actividad Física y del Deporte, Entrenador Superior de Triatlón, Especialista en Nutrición y Dietética, tiene a sus espaldas más de 20 años de experiencia en el mundo del entrenamiento personal.

						</p>
						<p>
Entre sus alumnos y clientes podemos encontrar a reconocidos artistas, deportistas, políticos y empresarios, con casos muy conocidos de éxito de los que se ha hablado mucho en la prensa.</p>
				</div>
				<div class="full-content-about">
					<div class="left-content-about">
						<p>
							Nombrado por FIBO entrenador personal del año de España y premiado por Gym Factory, al centro deportivo de nueva tendencia, por su exclusiva creación Boutique Gym. 

						</p>

						<div class="cita"> 
							<div>Había venido a triunfar, eso lo tenía claro</div>
						</div>
						<p>Martín es argentino y llegó hace quince años a Madrid con 300 euros en el bolsillo y una maleta llena de ilusión.</p>
						<p>Socio Fundador de Boutique Gym, un selecto gimnasio en Serrano, una de las calles más caras y exclusivas de la capital española.</p>
						<p>
Es un amante del deporte. Viajó por 50 países diferentes. Ha cruzado la meta de once maratones y diez triatlones de distancia Ironman en todo el mundo. Cruzó a nado el Estrecho de Gibraltar,  finalizó en dos oportunidades la Titan Desert, recorrió Europa con su bicicleta y cruzó la Cordillera de Los Andes y parte del Desierto del Sahara </p>
					</div>
					<div class="right-content-about">
						<img src="{{site.url}}/wp-content/uploads/2017/08/martin-ua.png">
					</div>
				</div>
			</div>
		</div>
		<span class="bg-about-section"><img src="{{site.url}}/wp-content/uploads/2017/08/toalla-botella.png"/></span>
	</div>

	<!-- FIN SECTION HOME 2 - ABOUT -->

	<!-- SECTION HOME 3 - ABOUT -->
	<div class="section-method" id="elmetodog">
		<div class="wrapper">
			<div class="content-section-method">
				<h2>El método G</h2>
				<span>Transforma tu cuerpo en 8 semanas con el método G</span>

				<div class="full-content-method">
					<div class="left-content-method">
						<iframe width="640" height="360" src="https://www.youtube.com/embed/rQdFbVZigSo" frameborder="0" allowfullscreen></iframe>
					</div>
					<div class="right-content-method">
						<img src="{{site.url}}/wp-content/uploads/2017/08/logo-metodo-g-fitness-nutricion.png"/>
					</div>
				</div>
				<div class="full-content-method">
					<span class="text-method"><strong>El Método G.</strong> es un sistema creado hace 20 años por Martín Giacchetta, <strong>el entrenador de las celebrities españolas</strong>.</span>
					<ul>
						<li><p><strong>Quema la grasa y gana fuerza con el Método G.</strong>, el plan de ejercicios que ya ha seducido a un montón de artistas y políticos.</p></li>
						<li><p><strong>No es milagroso, simplemente los alumnos se sienten muy motivados y con ello se consigue generar un hábito saludable.</strong> ¡Es ahí donde reside nuestro mayor secreto! </p></li>
						<li><p><strong>Vas a ver una mejor versión de ti mismo.</strong> Te encontrarás mejor por dentro, te verás mejor por fuera mientras tu autoestima se disparará al cielo. </p></li>
					</ul>
				</div>
				<div class="full-content-method">
					<div class="button-method">
						<a href="">¡Sí, quiero transformar mi cuerpo!</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- FIN SECTION HOME 3 - ABOUT -->
	<!-- SECTION HOME 4 - MORE -->
	<div class="section-more">
		<div class="wrapper">
			<div class="content-section-more">
				<div class="full-content-more">
					<div class="left-content-more">
						<h2>¿Te gustaría verte al espejo y encontrarte radiante?</h2>
						<p>¡Es lo que puedes lograr con el Método G y el Método G VIP! Te encontrarás más sano, tu autoestima se elevará y la imagen que proyectas será más bonita.</p>

						<p>Cambia tus hábitos y crea un espiral de cosas positivas que sumen en tu día a día. Te sentirás y te verás mejor que nunca.</p>
					</div>
				</div>
				<div class="full-content-more">
					<div class="right-content-more">
						<h2>Las personas que realizan actividad física transforman su cuerpo y sus vidas</h2>
						<ul>
							<li><p>Hacer ejercicio hace que el cuerpo produzca endorfinas que nos hacen sentir en paz y contentos.</p></li>
							<li><p>Ayuda a regenerar las neuronas del cerebro, favoreciendo aspectos como la concentración y la memoria.</p></li>
							<li><p>El ejercicio incrementa el gasto energético, por lo tanto permite quemar grasa y adelgazar.</p></li>
							<li><p>La actividad física frecuente protege contra el avance de varias enfermedades crónicas.</p></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- FIN SECTION HOME 4 - MORE -->
	
	<!-- SECTION HOME 5 - METODO G -->
	<div class="section-method-g">
		<div class="wrapper">
			<div class="content-section-method-g">
				<h2>Conoce más el método G</h2>
				<span>El método que te ayudara a conseguir el cuerpo deseado</span>
			</div>
		</div>
		<div class="full-method-g">
			<div class="left-method-g">
				<img src="{{site.url}}/wp-content/uploads/2017/08/bg-method-g.png"/>
			</div>
			<div class="right-method-g">
				<div class="right-content-method-g">
					<div class="cita"> 
						<div>En 8 semanas con 15 minutos diarios cambiarás tu cuerpo empezando desde cero. ¡Y desde el salón de tu casa!</div>
					</div>

					<div class="method-g-info">
						<div class="content-method-g-info">
							<ul>

								<li><p><strong>En tan sólo 8 semanas vas a cambiar tu cuerpo.</strong></p></li>

								<li><p><strong>15 minutos diarios,</strong> 5 veces a la semana.</p></li>

								<li><p><strong>40 vídeos</strong> con un programa diario de ejercicios. Solo tienes que seguirlos.</p></li>

								<li><p><strong>80 ejercicios</strong> distintos.</p></li>

								<li><p><strong>15 vídeos</strong> con orientaciones precisas de cómo hacer los movimientos.</p></li>

								<li><p><strong>1 vídeo</strong> con los pasos para estirarte.</p></li>


							</ul>
						</div>
						<div class="button-method-g-info">
							<div>
								<a href="">¡Sí, quiero transformar mi cuerpo!</a>
							</div>
						</div>

					</div>

				</div>
			</div>
		</div>
		<div class="wrapper">
			<div class="content-section-method-g">
				<div class="full-content-method-g">
					<ul>
						<li><p><strong>Haces los ejercicios desde el salón de tu casa.</strong> Solo necesitas un metro cuadrado, y eso se consigue moviendo la mesa o las sillas de cualquier casa.</li>
						<li><p><strong>Pero también puedes hacerlos en un parque usando tu móvil o desde la habitación de un hotel si estás de viaje.</strong></p></li>
						<li><p><strong>No hace falta ningún material excepto una toalla (¡la más vieja que tengas!).</strong> Solo necesitas el propio peso de tu cuerpo para hacer los ejercicios.</p></li>
						<li><p><strong>Tendrás a Martín Giacchetta, el entrenador de los famosos, todo el tiempo contigo</strong> motivándote y enseñándote cómo realizar cada uno de los ejercicios.</p></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<!-- FIN SECTION HOME 5 - METODO G -->
	<!-- SECTION HOME 6 - CONSEJOS MARTÍN -->
	<div class="section-advice">
		<div class="wrapper">
			<div class="content-section-advice">
				<h2>Consejos de Martín</h2>
				<span>Descubre ejercicios y consejos para el día a día</span>
			
				<div class="full-content-advice">
					<div class="left-content-advice">
						<iframe width="560" height="315" src="https://www.youtube.com/embed/rQdFbVZigSo" frameborder="0" allowfullscreen></iframe>
					</div>
					<div class="right-content-advice">
						<ul>
							<li><iframe width="240" height="135" src="https://www.youtube.com/embed/rQdFbVZigSo" frameborder="0" allowfullscreen></iframe></li>
							<li><iframe width="240" height="135" src="https://www.youtube.com/embed/rQdFbVZigSo" frameborder="0" allowfullscreen></iframe></li>
							<li><iframe width="240" height="135" src="https://www.youtube.com/embed/rQdFbVZigSo" frameborder="0" allowfullscreen></iframe></li>
							<li><iframe width="240" height="135" src="https://www.youtube.com/embed/rQdFbVZigSo" frameborder="0" allowfullscreen></iframe></li>
						</ul>
					</div>
				</div>

				<div class="full-content-advice">
					<div class="button-advice">
						<a href="">Ver más contenido</a>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- FIN SECTION HOME 6 - CONSEJOS MARTÍN -->
	
	<!-- SECTION HOME 7 - MÉTODO G Y MÉTODO EQ -->
	
	<div class="section-methods">
		<div class="wrapper">
			<div class="content-section-methods">
				<h2>El método G y el método EQ</h2>
				<span>Descubre los packs que más se adaptan a tí</span>

				<div class="full-content-methods">
					<div class="list-content-methods">
						<ul>
							<li>
								<div class="methods-items">
									<div class="methods-items-img">
										<div><img src="{{site.url}}/wp-content/uploads/2017/08/logo-metodo-g-fitness-nutricion.png"/></div>
									</div>
									<p>¡El método que utilizan las celebrities para ponerse en forma y perder peso! </p>

									<p>¿Te imaginas perder peso y transformar tu cuerpo con 15 minutos de ejercicio y en tan sólo 8 semanas?</p>

									<p>Alcanza el cuerpo deseado con 15 minutos de ejercicio al día.</p>

									<p>Las celebrities lo han conseguido, ahora te toca a tí.</p>

									</p>
								</div>
								<div class="button-methods">
									<div>
										<a href="">Quiero un plan personalizado</a>
									</div>
								</div>
							</li>
							<li>
								<div class="methods-items">
									<div class="methods-items-img">
										<div><img src="{{site.url}}/wp-content/uploads/2017/08/logo-metodo-eq-nutricion-fitness.png"/></div>
									</div>
									<p>¡El método que utilizan las celebrities para ponerse en perder peso y ponerse en forma! </p>

									<p>¿Te imaginas perder peso y transformar tu cuerpo con 15 minutos de ejercicio y una Dieta sana y equilibrada y en tan sólo 8 semanas?</p>

									<p>Alcanza el cuerpo deseado con 15 minutos de ejercicio al día y una dieta sana y equilibrada.</p>

									<p>Las celebrities lo han conseguido, ahora te toca a tí.</p>

									</p>
								</div>
								<div class="button-methods">
									<div>
										<a href="">Quiero un plan personalizado</a>
									</div>
								</div>
							</li>
						</ul>
					</div>
				</div>
				
			</div>
		</div>
	</div>

	<!-- FIN SECTION HOME 7 - MÉTODO G Y MÉTODO EQ -->

	<!-- SECTION HOME 8 - MARTÍN EN YOUTUBE -->

	<div class="section-youtube">
		<div class="wrapper">
			<div class="content-section-youtube">
				<h2>Martín en YouTube</h2>
				<span>Descubre todos los vídeos de Martín en youtube</span>
			
				<div class="full-content-youtube">
					<div class="videos-content-youtube">
						<ul>
							<li><iframe width="330" height="186" src="https://www.youtube.com/embed/rQdFbVZigSo" frameborder="0" allowfullscreen></iframe></li>
							<li><iframe width="330" height="186" src="https://www.youtube.com/embed/rQdFbVZigSo" frameborder="0" allowfullscreen></iframe></li>
							<li><iframe width="330" height="186" src="https://www.youtube.com/embed/rQdFbVZigSo" frameborder="0" allowfullscreen></iframe></li>
							<li><iframe width="330" height="186" src="https://www.youtube.com/embed/rQdFbVZigSo" frameborder="0" allowfullscreen></iframe></li>
							<li><iframe width="330" height="186" src="https://www.youtube.com/embed/rQdFbVZigSo" frameborder="0" allowfullscreen></iframe></li>
							<li><iframe width="330" height="186" src="https://www.youtube.com/embed/rQdFbVZigSo" frameborder="0" allowfullscreen></iframe></li>

						</ul>
					</div>
				</div>

				<div class="full-content-youtube">
					<div class="button-youtube">
						<a href="">Ver más contenido</a>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- FIN SECTION HOME 8 - MARTÍN EN YOUTUBE -->

	<!-- SECTION HOME 9 - MARTÍN EN LA PRENSA -->

	<div class="section-news" id="prensa">
		<div class="wrapper">
			<div class="content-section-news">
				<h2>Hablan de Martín en la Prensa</h2>
				<span>Revistas, prensa, y otros medios </span>
				<div class="full-content-news">
					<div class="section-content-news">

						<div class="left-content-news">
							<img src="{{site.url}}/wp-content/uploads/2017/08/revista.png"/>
						</div>
						<div class="right-content-news">
							<ul>
								<li><img src="{{site.url}}/wp-content/uploads/2017/08/logo-hola.png"/></li>
								<li><img src="{{site.url}}/wp-content/uploads/2017/08/logo-elle.png"/></li>
								<li><img src="{{site.url}}/wp-content/uploads/2017/08/logo-elpais.png"/></li>
								<li><img src="{{site.url}}/wp-content/uploads/2017/08/logo-elmundo.png"/></li>
								<li><img src="{{site.url}}/wp-content/uploads/2017/08/logo-abc.png"/></li>
								<li><img src="{{site.url}}/wp-content/uploads/2017/08/logo-larazon.png"/></li>
								<li><img src="{{site.url}}/wp-content/uploads/2017/08/logo-sportlife.png"/></li>
								<li><img src="{{site.url}}/wp-content/uploads/2017/08/logo-lavanguardia.png"/></li>
								<li><img src="{{site.url}}/wp-content/uploads/2017/08/logo-cadenaser.png"/></li>
								<li><img src="{{site.url}}/wp-content/uploads/2017/08/logo-tve.png"/></li>
								<li><img src="{{site.url}}/wp-content/uploads/2017/08/logo-telecinco.png"/></li>
								<li><img src="{{site.url}}/wp-content/uploads/2017/08/logo-menshealth.png"/></li>
							</ul>
						</div>
					
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- FIN SECTION HOME 9 - MARTÍN EN LA PRENSA -->
	<!-- SECTION HOME 10 - CONSEJOS MARTÍN -->
	<div class="section-advice">
		<div class="wrapper">
			<div class="content-section-advice">
				<h2>Entrevistas y Charlas de Martín</h2>
				<span>Descubre entrevistas y charlas de Martín</span>
			
				<div class="full-content-advice">
					<div class="left-content-advice">
						<iframe width="560" height="315" src="https://www.youtube.com/embed/rQdFbVZigSo" frameborder="0" allowfullscreen></iframe>
					</div>
					<div class="right-content-advice">
						<ul>
							<li><iframe width="240" height="135" src="https://www.youtube.com/embed/rQdFbVZigSo" frameborder="0" allowfullscreen></iframe></li>
							<li><iframe width="240" height="135" src="https://www.youtube.com/embed/rQdFbVZigSo" frameborder="0" allowfullscreen></iframe></li>
							<li><iframe width="240" height="135" src="https://www.youtube.com/embed/rQdFbVZigSo" frameborder="0" allowfullscreen></iframe></li>
							<li><iframe width="240" height="135" src="https://www.youtube.com/embed/rQdFbVZigSo" frameborder="0" allowfullscreen></iframe></li>
						</ul>
					</div>
				</div>

				<div class="full-content-advice">
					<div class="button-advice">
						<a href="">Ver más contenido</a>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- FIN SECTION HOME 10 - CONSEJOS MARTÍN -->
	<!-- SECTION HOME 11 - EN LOS MEDIOS -->
	<div class="section-medios" id="martinmedios">
		<div class="wrapper">
			<div class="content-section-medios">
				<h2>Martín en los medios</h2>
				<span>Algunas de las notas de prensa, artículos de Martín y el Método G</span>
				<div class="full-content-medios">
					<div class="article-medios">
						<div class="left-article-medios">
							<img src="{{site.url}}/wp-content/uploads/2017/08/article-1.jpg"/>
							<p>Artículo de: <strong>hola.com | En forma</strong></p>
						</div>
						<div class="right-article-medios">
							<div class="article-medios-content">
								<h3>Martín Giacchetta, el entrenador de las 'celebrities', nos da las claves para ponernos en forma de cara al verano</h3>
								<p>Según los objetivos planteados y con la supervisión real de Martín Giacchetta, entrenarás con un plan de ejercicios diseñado de manera única y exclusiva para ti. 

								El argentino Martín Giacchetta está considerado uno de los mejores entrenadores personales de nuestro país; entre otras cosas por ser el artífice de las brutales transformaciones físicas de algunos de los rostros VIP más conocidos, como Paula Echevarría y su marido David Bustamante; a los que seguro este año volveremos a ver pasear sus esculturales cuerpos por las playas españolas. ¿Entonces? ¿Quiere decir que es posible conseguir un cuerpo 10 como el de las ‘celebrities’? ¡Por supuesto! Pero no se trata de ser Paula Echevarría; sino de sacar lo mejor de nosotros con un buen plan de entrenamiento y una correcta alimentación. ¿Estás preparada para seguir los consejos de este gran gurú del fitness?

								¿Cómo se convierte uno en el entrenador de los famosos?

								No sé cómo lo conseguirán los demás, pero, en mi caso, puse una tarjeta en el buzón ...

								¿Qué nombre conocidos han entrenado bajo tus órdenes?

								</p>
							</div>
							<div class="article-medios-button"><div><a href="">Leer artículo completo</a></div></div>
						</div>
					</div>
				</div>
				<div class="full-content-medios">
					<div class="list-article-medios">
						<ul>
							<li>
								<div class="item-medios-contetn">
									<div class="img-medios-contetn">
										<img src="{{site.url}}/wp-content/uploads/2017/08/article-2.jpg"/>
									</div>
									<h3>Cinco ejercicios para tener un cuerpo 10.</h3>
									<p>Martín Giacchetta, el entrenador favorito de las 'celebrities'. Creador del Método G, es mucho más ...</p>
								</div>
								<div class="item-medios-button"><div><a href="">Leer artículo completo</a></div></div>
							</li>
							<li>
								<div class="item-medios-contetn">
									<div class="img-medios-contetn">
										<img src="{{site.url}}/wp-content/uploads/2017/08/article-2.jpg"/>
									</div>
									<h3>Cinco ejercicios para tener un cuerpo 10.</h3>
									<p>Martín Giacchetta, el entrenador favorito de las 'celebrities'. Creador del Método G, es mucho más ...</p>
								</div>
								<div class="item-medios-button"><div><a href="">Leer artículo completo</a></div></div>
							</li>
							<li>
								<div class="item-medios-contetn">
									<div class="img-medios-contetn">
										<img src="{{site.url}}/wp-content/uploads/2017/08/article-2.jpg"/>
									</div>
									<h3>Cinco ejercicios para tener un cuerpo 10.</h3>
									<p>Martín Giacchetta, el entrenador favorito de las 'celebrities'. Creador del Método G, es mucho más ...</p>
								</div>
								<div class="item-medios-button"><div><a href="">Leer artículo completo</a></div></div>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- FIN SECTION HOME 11 - EN LOS MEDIOS -->

	<!-- SECTION HOME 12 - SUS ALUMNOS -->
	<div class="section-celebrities" id="alumnos">
		<div class="wrapper">
			<div class="content-section-celebrities">
				<h2>Entrevistas y Charlas de Martín</h2>
				<span>Descubre entrevistas y charlas de Martín</span>
			
				<div class="full-content-celebrities">
					<ul>
						<li><img src="{{site.url}}/wp-content/uploads/2017/08/celebritie-1.jpg"/></li>
						<li><img src="{{site.url}}/wp-content/uploads/2017/08/celebritie-2.jpg"/></li>
						<li><img src="{{site.url}}/wp-content/uploads/2017/08/celebritie-3.jpg"/></li>
						<li><img src="{{site.url}}/wp-content/uploads/2017/08/celebritie-4.jpg"/></li>
						<li><img src="{{site.url}}/wp-content/uploads/2017/08/celebritie-5.jpg"/></li>
						<li><img src="{{site.url}}/wp-content/uploads/2017/08/celebritie-6.jpg"/></li>
						<li><img src="{{site.url}}/wp-content/uploads/2017/08/celebritie-7.jpg"/></li>
						<li><img src="{{site.url}}/wp-content/uploads/2017/08/celebritie-8.jpg"/></li>
						<li><img src="{{site.url}}/wp-content/uploads/2017/08/celebritie-9.jpg"/></li>
						<li><img src="{{site.url}}/wp-content/uploads/2017/08/celebritie-10.jpg"/></li>
						<li><img src="{{site.url}}/wp-content/uploads/2017/08/celebritie-11.jpg"/></li>
						<li><img src="{{site.url}}/wp-content/uploads/2017/08/celebritie-12.jpg"/></li>
						<li><img src="{{site.url}}/wp-content/uploads/2017/08/celebritie-13.jpg"/></li>
						<li><img src="{{site.url}}/wp-content/uploads/2017/08/celebritie-14.jpg"/></li>
						<li><img src="{{site.url}}/wp-content/uploads/2017/08/celebritie-15.jpg"/></li>
						<li><img src="{{site.url}}/wp-content/uploads/2017/08/celebritie-16.jpg"/></li>
						<li><img src="{{site.url}}/wp-content/uploads/2017/08/celebritie-17.jpg"/></li>
						<li><img src="{{site.url}}/wp-content/uploads/2017/08/celebritie-18.jpg"/></li>
					</ul>
				</div>

				<div class="full-content-celebrities">
					<div class="button-celebrities">
						<a href="">Ver más contenido</a>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- FIN SECTION HOME 12 - SUS ALUMNOS -->

	<!-- SECTION HOME 13 - LIBROS -->

	<div class="section-books" id="libros">
		<div class="wrapper">
			<div class="content-section-books">
				<h2>Martín, autor de 4 libros</h2>
				<span>¡Podrás encontrar los libros de Martín y aprender mucho más!</span>
			
				<div class="full-content-books">
					<ul>
						<li>
							<div class="items-books">
								<img src="{{site.url}}/wp-content/uploads/2017/08/libro-1.png"/>
								<h3>El Camino del Cambio “El método que transformó a David Bustamante”</h3>
							</div>
						</li>
						<li>
							<div class="items-books">
								<img src="{{site.url}}/wp-content/uploads/2017/08/libro-2.png"/>
								<h3>Ponte en forma “Para torpes”</h3>
							</div>
						</li>
						<li>
							<div class="items-books">
								<img src="{{site.url}}/wp-content/uploads/2017/08/libro-3.png"/>
								<h3>Correr <br>“Tus pasos hacia el equilibrio”</h3>
							</div>
						</li>
						<li>
							<div class="items-books">
								<img src="{{site.url}}/wp-content/uploads/2017/08/libro-4.png"/>
								<h3>En forma durante y después del embarazo</h3>
							</div>
						</li>
					</ul>
				</div>
				<div class="full-content-books">
					<div class="button-books">
						<a href="https://www.amazon.es/s/ref=nb_sb_ss_c_1_10?__mk_es_ES=%C3%85M%C3%85%C5%BD%C3%95%C3%91&url=search-alias%3Daps&field-keywords=martin+giacchetta&sprefix=martin+gia%2Caps%2C195&crid=3B0PZC4T7AUEJ">Podrás comprarlo en Amazon</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- FIN SECTION HOME 13 - LIBROS -->

	<!-- SECTION HOME 14 - CONTACTO -->
	<div class="section-contact" id="contacto">
		<div class="wrapper">
			<div class="content-section-contact">
				<h2>Contacta con nosotros aquí : <span>info@elmetodog.com</span></h2>
			</div>
		</div>
	</div>

	<!-- FIN SECTION HOME 14 - CONTACTO -->


{% endblock %}